
h1, h2, h3 {
  font-family: 'Open Sans';
}

.texto, .texto p {
  font-family: Merriweather;
}

blockquote {
  /* font-family: Vollkorn; */
  font-size: 14px;
  font-family: 'Open Sans';
  /* font-style: italic; */
}

