<div id="carousel" class="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/01.png" alt="">
      <div class="carousel-caption">
        <!-- write comething here -->
      </div>
    </div>
    <div class="item">
      <img src="images/02.png" alt="">
      <div class="carousel-caption">
        <!-- write comething here -->
      </div>
    </div>
    <div class="item">
      <img src="images/03.png" alt="">
      <div class="carousel-caption">
        <!-- write comething here -->
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#carousel" data-slide="next">›</a>
</div>
